@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BusanBada';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BusanBada.woff')
    format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
}

@theme {
  /* Brand */
  --color-main: #0087e1;
  --color-pressed: #0076c5;

  /* Subs */
  --color-sub: #b7e7ff;
  --color-sub-2: #fff8ec;

  /* Gray Scale */
  --color-black: #2d2d2d;
  --color-gray-80: #515151;
  --color-gray-60: #878787;
  --color-gray-40: #b5b5b5;
  --color-gray-20: #ebebeb;
  --color-gray-100: #ffffff;
  --animate-homeBg: #f9f9f9;
}

@layer utilities {
  /* 폰트 패밀리 */
  .font-display {
    font-family:
      'BusanBada', 'Pretendard Variable', Pretendard, system-ui, sans-serif;
  }
  .font-sans {
    font-family:
      'Pretendard Variable',
      Pretendard,
      system-ui,
      -apple-system,
      'Segoe UI',
      Roboto,
      'Helvetica Neue',
      Arial,
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      sans-serif;
  }

  /* 텍스트 스케일 */
  .text-semi24 {
    font-size: 24px;
    font-weight: 600;
  }
  .text-semi20 {
    font-size: 20px;
    font-weight: 600;
  }
  .text-semi16 {
    font-size: 16px;
    font-weight: 600;
  }
  .text-semi14 {
    font-size: 14px;
    font-weight: 600;
  }
  .text-medium20 {
    font-size: 20px;
    font-weight: 500;
  }
  .text-medium16 {
    font-size: 16px;
    font-weight: 500;
  }
  .text-medium14 {
    font-size: 14px;
    font-weight: 500;
  }
  .text-medium12 {
    font-size: 12px;
    font-weight: 500;
  }
  .text-medium10 {
    font-size: 10px;
    font-weight: 500;
  }
  .text-regular14 {
    font-size: 14px;
    font-weight: 400;
  }

  .text-busan {
    font-family: 'BusanBada';
    font-size: 20px;
    font-weight: 500;
  }

  /* 스크롤 숨기기*/
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer utilities {
  .tab-cutout {
    --btn: 64px;
    --gap: 6px;
    --ring: 0px;
    --notch-w: 8px;
    --lift: 0px;

    --notch-y: calc(
      -1 * ((var(--btn) / 2) + var(--gap) + var(--ring) - var(--lift))
    );
    --notch-r: calc((var(--btn) / 2) + var(--gap) + var(--ring));

    -webkit-mask: radial-gradient(
      circle at 50% var(--notch-y),
      #000 0 calc(var(--notch-r) - var(--notch-w)),
      transparent calc(var(--notch-r) - var(--notch-w))
        calc(var(--notch-r) + var(--notch-w)),
      #000 calc(var(--notch-r) + var(--notch-w)) 100%
    );
    mask: radial-gradient(
      circle at 50% var(--notch-y),
      #000 0 calc(var(--notch-r) - var(--notch-w)),
      transparent calc(var(--notch-r) - var(--notch-w))
        calc(var(--notch-r) + var(--notch-w)),
      #000 calc(var(--notch-r) + var(--notch-w)) 100%
    );
  }

  .center-fab {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: calc(-1 * ((var(--btn) / 2) + var(--gap))); /* 바 윗면 기준 위로 */
  }
}
